server {
    listen 80;
    server_name diego-prem-2t3v.vercel.app; # 

    location / {
        proxy_pass http://localhost:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
        
        # Para Server-Sent Events (SSE)
        proxy_set_header Connection '';
        proxy_buffering off;
        proxy_read_timeout 24h;
    }
    
}
